<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<img src="/static/img/reading.jfif" align="right" alt="здесь должна была быть картинка, но не нашлась">

<h2>Здравствуй, пользователь.</h2></div>
{% for item in text %}
<h3>{{ item }}</h3>
{% endfor %}
<br> Вернуться на:
<div class="top-menu">
    <ul class="menu-main">
        <li class="one-item"><a href="/hello"> Главная </a></li>
        <li class="two-item"><a href="/help"> Помощь </a></li>
        <li class="three-item"><a href="/test"> Тестик </a></li>
        <li class="four-item"><a href="/where"> Где с нами связываться </a></li>
        <li class="five-item"><a href="/stat"> Статистика </a></li>
    </ul>
</div>
</body>
</html>