<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    </head>
<body>
<h3>Здравствуйте,
    <br>Вы оказались на странице помощи/руководства
    <br>Данный сайт предназначен для удобного получения перечня книг для различных целей.
    <br>Сущестующие категории: литература для начальных классов,
    <br>для подготовки к огэ/егэ и книги mustread-ы.
    <br>Также можно ознакомиться со статистикой сайта.
    <br>Чем чаще всего интересуются пользователи.
    <br>Одиним преимуществом нашего сайта является то,
    <br>что регистрация не обязательна, каждый пользователь
    <br>может беспрепятственно ознакомиться с подборками произведений.
    <br>Спасибо, что выбираете нас и приятного чтения!</h3>
<br> Вернуться на:
<div class="top-menu">
    <ul class="menu-main">
        <li class="one-item"><a href="/hello"> Главная </a></li>
        <li class="two-item"><a href="/help"> Помощь </a></li>
        <li class="three-item"><a href="/test"> Тестик </a></li>
        <li class="four-item"><a href="/where"> Где с нами связываться </a></li>
        <li class="five-item"><a href="/stat"> Статистика </a></li>
    </ul>
</div>
</body>
</html>