<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h2>{{ intro }}</h2>
<h2>{{ lim }}</h2>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ first_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_f" id="f1" value="">
            Базаров
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_f" id="f2" value="12">
            Раскольников
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_f" id="f3" value="16">
            Тургенев
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_f" id="f4" value="16">
            Шариков
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ second_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_s" id="s1" value="">
            Лермонтов
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_s" id="s2" value="12">
            Платонов
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_s" id="s3" value="16">
            Грибоедов
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_s" id="s4" value="16">
            Пушкин
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ third_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_t" id="t1" value="">
            заставила хозяйка
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_t" id="t2" value="12">
            по собственному желанию
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_t" id="t3" value="16">
            не топил собаку
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_t" id="t4" value="16">
            Му-му - человек и его не топили
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ fourth_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fo" id="fo1" value="">
            Подмастерье
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fo" id="fo2" value="12">
            Светлана
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fo" id="fo3" value="16">
            Анатолий
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fo" id="fo4" value="16">
            Маргарита
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ fiveth_q }}</label>
        <img src="/static/img/leo.jpg" alt="здесь должна была быть картинка, но не нашлась" width="200" height="250">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fi" id="fi1" value="">
            Достоевский
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fi" id="fi2" value="12">
            Набоков
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fi" id="fi3" value="16">
            Толстой
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_fi" id="fi4" value="16">
            Булгаков
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ sixth_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_si" id="si1" value="">
            Воронеж
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_si" id="si2" value="12">
            Москва
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_si" id="si3" value="16">
            Саратов
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_si" id="si4" value="16">
            Тамбов
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ seventh_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_se" id="se1" value="">
            А.С.Пушкин "Капитанская дочка"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_se" id="se2" value="12">
            И.А. Гончаров "Обломов"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_se" id="se3" value="16">
            Джордж Оруел "1984"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_se" id="se4" value="16">
            Ф.М.Достоевский "Бедные люди"
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ eigth_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_e" id="e1" value="">
            "Ночевала тучка золотая"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_e" id="e2" value="12">
            "Смерть поэта"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_e" id="e3" value="16">
            "Бородино"
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_e" id="e4" value="16">
            "Три пальмы"
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ nineth_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_n" id="n1" value="yes">
            Да
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_n" id="n2" value="no">
            Нет
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-group">
        <label for="form-check">{{ tenth_q }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_te" id="te1" value="">
            Иван Арнольдович Борменталь
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_te" id="te2" value="12">
            Порфирий Петрович
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_te" id="te3" value="16">
            Филипп Филиппович Преображенский
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answ_te" id="te4" value="16">
            Андрей Иванович Штольц
        </div>
    </div>
</div>
<br>
<button type="submit" class="btn btn-primary">Готово</button>
</body>
</html>
